body{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 200px;
}

.header{
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-weight: bold;
}

.header-links{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 12px;
    font-weight: normal;
}

.button-top{
    background-color: blue;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0px 10px;
    align-self: flex-start;
}

h1{
    color: #F9FAF8;
}

.subtext{
    color: #E5E7EB;
    font-size: 18px;
}

.section-top{
    display: flex;
    flex-direction: column;
}